{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ active_module_title }}</title>
    <link rel="stylesheet" href="{% static 'app_main/css/base/reset.css' %}">
    <link rel="stylesheet" href="{% static 'app_main/css/base/variables.css' %}">
    <link rel="stylesheet" href="{% static 'app_main/css/layouts/header.css' %}">
    <link rel="stylesheet" href="{% static 'app_main/css/layouts/footer.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

<header class="main-header">
    <div class="container">
        <nav class="header-nav">
            <div class="header-logo">
                <a href="{% url 'app_main:index' %}">
                    <span>
                        {{ site_name_first }}<br>{{ site_name_second }}
                    </span>
                </a>
            </div>

            <ul class="nav-menu">
                {% for module in site_modules %}
                {% if module.status == 'active' %}
                <li>
                    <a href="{% url module.url_name %}"
                       class="nav-link {% if request.resolver_match and request.resolver_match.app_name == module.app_namespace %}active-link{% endif %}">

                        <img src="{% static 'app_main/images/icons/header/' %}{{ module.icon }}.svg"
                             alt="{{ module.title }}"
                             class="nav-icon">

                        <span class="nav-link-text">
                            {{ module.title }}
                        </span>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <div class="header-admin">
                <a href="{% url 'admin:index' %}" class="admin-button" target="_blank">
                    <img src="{% static 'app_main/images/icons/header/admin.svg' %}"
                         alt="{{ admin_text }}"
                         class="admin-icon">
                    <span>{{ admin_text }}</span>
                </a>
            </div>
        </nav>
    </div>
</header>

{% block content %}{% endblock %}

<footer class="main-footer">
    <div class="container">
        <p>
            &copy; {{ footer_copyright_year }} {{ footer_site_name }} | {{ footer_tech_info }}
        </p>
    </div>
</footer>

<script src="{% static 'app_main/js/scripts.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>