{% extends 'app_main/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app_main/css/pages/index.css' %}">
{% endblock %}

{% block content %}
<div class="ds-welcome-wrapper">
    <div class="ds-header-block">
        <h1>{{ index_page_title }}</h1>
        <p>{{ index_page_subtitle }}</p>
    </div>

    <div class="ds-modules-grid">
        {% for module in site_modules %}
            {# Если модуль активен, делаем его ссылкой, иначе — просто блоком #}
            {% if module.status == 'active' %}
                <a href="{% url module.url_name %}" class="ds-module-card">
            {% else %}
                <div class="ds-module-card ds-mod-disabled">
            {% endif %}

                <div class="ds-card-icon">
                    <img src="{% static 'app_main/images/icons/header/' %}{{ module.icon }}.svg"
                         alt="{{ module.title }}"
                         class="card-icon">
                </div>

                <div class="ds-card-content">
                    <h3>{{ module.title }}</h3>
                    <p>{{ module.desc }}</p>
                    <span class="ds-tag ds-tag-{{ module.status }}">
                        {{ module.status_text }}
                    </span>
                </div>

            {% if module.status == 'active' %}
                </a>
            {% else %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}