{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'app_depts/css/styles.css' %}">
</head>
<body>
    <header class="main-header">
        <nav class="container nav-flex">
            <a href="/" class="header-logo">
                <i class="fa-solid fa-gauge-high"></i> <span>DASHBOARD</span>
            </a>

            <ul class="nav-menu">
                <li>
                    <a href="{% url 'app_depts:records_list' %}" class="nav-link-two-lines active">
                        Финансовые<br>обязательства
                    </a>
                </li>
                </ul>

            <div class="header-admin">
                <a href="/admin/" class="admin-button">
                    <i class="fa-solid fa-user-shield"></i>
                    <span>АДМИН</span>
                </a>
            </div>
        </nav>
    </header>

    <main class="main-content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="main-footer">
        <div class="container">
            <p>&copy; 2026 Личная система управления</p>
        </div>
    </footer>
</body>
</html>